# Ignore the .git directory
.git

# Ignore node modules directory
node_modules

# Ignore Composer vendor directory
vendor

# Ignore build artifacts
build
google-drive-downloads
extracted

# Ignore logs and temporary files
*.log
*.tmp

# Ignore archives and packages
*.zip
*.tar.gz

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore editor-specific files
*.swp
*~
